@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-s-insta:before {
  content: "\e905"
}
._icon-s-fc:before {
  content: "\e906"
}
._icon-s-tw:before {
  content: "\e907"
}
._icon-check:before {
  content: "\e900"
}
._icon-e-book:before {
  content: "\e901"
}
._icon-mentorhip:before {
  content: "\e902"
}
._icon-data:before {
  content: "\e903"
}
._icon-arrow-right:before {
  content: "\e904"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Barlow;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Barlow;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.label {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase
}
.label--fz-18 {
  font-size: 1.125rem
}
.label--margin:not(:last-child) {
  margin-bottom: .3125rem
}
.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase
}
.title--margin:not(:last-child) {
  margin-bottom: .625rem
}
.media .title--margin:not(:last-child) {
  margin-bottom: 1.5625rem
}
.text {
  font-size: 1.125rem;
  line-height: 1.2
}
.text--margin:not(:last-child) {
  margin-bottom: 1.875rem
}
.button {
  line-height: 1.15;
  font-weight: 700;
  background-color: #e82e2c;
  border-radius: 2.5rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.button::before {
  transition: all .3s ease-in-out
}
.button--margin:not(:last-child) {
  margin-bottom: 1.875rem
}
.no-webp .header {
  background: url(../img/hero/bg.jpg) center center/cover no-repeat
}
.header {
  padding-top: 1.875rem
}
.header__container {
  position: relative;
  z-index: 2
}
.footer {
  background: #14171a
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.action-social {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.action-social a::before {
  color: #fff;
  transition: all .3s ease-in-out
}
.feature {
  background-color: #191c1f
}
.feature__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}
.feature .block-feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.875rem;
  width: 100%
}
.feature .block-feature__item {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.feature .block-feature__item::before {
  font-size: 2.5rem
}
.feature .block-feature__content {
  font-weight: 700
}
.feature .block-feature__label {
  font-size: 2rem
}
.feature .block-feature__info {
  font-size: 1.5rem
}
.media {
  background-color: #1f2327
}
.media--left {
  background-color: #191c1f
}
.media__container {
  display: flex;
  align-items: center
}
.media__image img {
  aspect-ratio: 540/360;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}
.media__content {
  flex-grow: 1;
  flex-shrink: 0
}
.list-media--margin:not(:last-child) {
  margin-bottom: 1.5625rem
}
.list-media__item {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 1.0625rem;
  -moz-column-gap: 1.0625rem;
  column-gap: 1.0625rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase
}
.list-media__item:not(:last-child) {
  margin-bottom: .625rem
}
.no-webp .banner {
  background: url(../img/media-section/media-3-bg.jpg) center/cover no-repeat
}
.banner__container > .head-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center
}
@media (min-width:47.99875em) {
  .header__container .head-content {
    max-width: 45.625rem
  }
  .feature__title {
    flex: 0 1 25%
  }
  .feature .block-feature {
    flex: 1 1 75%
  }
  .media__image {
    max-width: 33.75rem
  }
  .media__content {
    flex-basis: 27.6875rem
  }
  .media__text {
    max-width: 25.3125rem
  }
}
@media (min-width:71.25em) {
  .title--fz-64 {
    font-size: 4rem
  }
  .header {
    padding-bottom: 11.4375rem
  }
  .header__logo {
    margin-bottom: 7.8125rem
  }
  .footer__container {
    padding-top: 2.5625rem
  }
  .footer__container {
    padding-bottom: 2.5625rem
  }
  .feature__container {
    padding-top: 3.75rem
  }
  .feature__container {
    padding-bottom: 3.75rem
  }
  .feature__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .feature__title {
    font-size: 2rem
  }
  .feature .block-feature {
    -webkit-column-gap: 1.75rem;
    -moz-column-gap: 1.75rem;
    column-gap: 1.75rem
  }
  .feature .block-feature__label {
    font-size: 2rem
  }
  .media {
    padding-top: 11.25rem
  }
  .media {
    padding-bottom: 3.75rem
  }
  .media--left {
    padding-top: 7.5rem
  }
  .media--left {
    padding-bottom: 3.75rem
  }
  .media__container {
    -webkit-column-gap: 7.6875rem;
    -moz-column-gap: 7.6875rem;
    column-gap: 7.6875rem
  }
  .banner__container {
    padding-top: 5rem
  }
  .banner__container {
    padding-bottom: 5rem
  }
}
@media (min-width:30em) {
  .action-social a::before {
    font-size: 1.875rem
  }
}
@media (min-width:48em) {
  .text--fz-24 {
    font-size: 1.5rem
  }
}
@media (max-width:48em) {
  .media__container {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (max-width:20em) {
  .title--fz-64 {
    font-size: 2rem
  }
  .text--fz-24 {
    font-size: 1rem
  }
  .header {
    padding-bottom: 1.875rem
  }
  .header__logo {
    margin-bottom: 3.125rem
  }
  .footer__container {
    padding-top: 1.3125rem
  }
  .footer__container {
    padding-bottom: 1.3125rem
  }
  .action-social a::before {
    font-size: 1.625rem
  }
  .feature__container {
    padding-top: 1.25rem
  }
  .feature__container {
    padding-bottom: 1.25rem
  }
  .feature__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .feature .block-feature {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .media {
    padding-top: 1.875rem
  }
  .media {
    padding-bottom: 1.875rem
  }
  .media--left {
    padding-top: 1.875rem
  }
  .media--left {
    padding-bottom: 1.875rem
  }
  .banner__container {
    padding-top: 2.5rem
  }
  .banner__container {
    padding-bottom: 2.5rem
  }
}
@media (max-width:47.99875em) {
  .feature__container {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .feature__title {
    font-size: 1.75rem
  }
  .feature .block-feature__label {
    font-size: 1.75rem
  }
  .media__container {
    flex-direction: column;
    row-gap: 1.875rem;
    align-items: flex-start
  }
  .media__content > .title br {
    display: none
  }
  .banner__container > .head-content > .text--fz-24 br {
    display: none
  }
}
@media (max-width:29.99875em) {
  .head-content {
    text-align: center
  }
  .button {
    width: 100%
  }
  .feature__container {
    align-items: center
  }
  .media__content {
    text-align: left
  }
  .banner__container > .head-content > .title--fz-64 br {
    display: none
  }
}
@media (max-width:26.56125em) {
  .feature .block-feature {
    flex-direction: column;
    align-items: center
  }
}
@media (min-width:20em) and (max-width:71.25em) {
  @supports (font-size:clamp(2rem ,1.2195121951rem + 3.9024390244vw ,4rem)) {
    .title--fz-64 {
      font-size: clamp(2rem ,1.2195121951rem + 3.9024390244vw ,4rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.2195121951rem + 3.9024390244vw ,4rem)) {
    .title--fz-64 {
      font-size: calc(2rem + 2 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,-1.8567073171rem + 18.6585365854vw ,11.4375rem)) {
    .header {
      padding-bottom: clamp(1.875rem ,-1.8567073171rem + 18.6585365854vw ,11.4375rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,-1.8567073171rem + 18.6585365854vw ,11.4375rem)) {
    .header {
      padding-bottom: calc(1.875rem + 9.5625 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.2957317073rem + 9.1463414634vw ,7.8125rem)) {
    .header__logo {
      margin-bottom: clamp(3.125rem ,1.2957317073rem + 9.1463414634vw ,7.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.2957317073rem + 9.1463414634vw ,7.8125rem)) {
    .header__logo {
      margin-bottom: calc(3.125rem + 4.6875 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-top:clamp(1.3125rem ,0.824695122rem + 2.4390243902vw ,2.5625rem)) {
    .footer__container {
      padding-top: clamp(1.3125rem ,.824695122rem + 2.4390243902vw ,2.5625rem)
    }
  }
  @supports not (padding-top:clamp(1.3125rem ,0.824695122rem + 2.4390243902vw ,2.5625rem)) {
    .footer__container {
      padding-top: calc(1.3125rem + 1.25 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-bottom:clamp(1.3125rem ,0.824695122rem + 2.4390243902vw ,2.5625rem)) {
    .footer__container {
      padding-bottom: clamp(1.3125rem ,.824695122rem + 2.4390243902vw ,2.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(1.3125rem ,0.824695122rem + 2.4390243902vw ,2.5625rem)) {
    .footer__container {
      padding-bottom: calc(1.3125rem + 1.25 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.2743902439rem + 4.8780487805vw ,3.75rem)) {
    .feature__container {
      padding-top: clamp(1.25rem ,.2743902439rem + 4.8780487805vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.2743902439rem + 4.8780487805vw ,3.75rem)) {
    .feature__container {
      padding-top: calc(1.25rem + 2.5 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.2743902439rem + 4.8780487805vw ,3.75rem)) {
    .feature__container {
      padding-bottom: clamp(1.25rem ,.2743902439rem + 4.8780487805vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.2743902439rem + 4.8780487805vw ,3.75rem)) {
    .feature__container {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.5716463415rem + 1.8292682927vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.5716463415rem + 1.8292682927vw ,1.875rem))) {
    .feature__container {
      -webkit-column-gap: clamp(.9375rem ,.5716463415rem + 1.8292682927vw ,1.875rem);
      -moz-column-gap: clamp(.9375rem ,.5716463415rem + 1.8292682927vw ,1.875rem);
      column-gap: clamp(.9375rem ,.5716463415rem + 1.8292682927vw ,1.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.5716463415rem + 1.8292682927vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.5716463415rem + 1.8292682927vw ,1.875rem))) {
    .feature__container {
      -webkit-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 51.25);
      -moz-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 51.25);
      column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.6204268293rem + 1.5853658537vw ,1.75rem)) or (column-gap:clamp(0.9375rem ,0.6204268293rem + 1.5853658537vw ,1.75rem))) {
    .feature .block-feature {
      -webkit-column-gap: clamp(.9375rem ,.6204268293rem + 1.5853658537vw ,1.75rem);
      -moz-column-gap: clamp(.9375rem ,.6204268293rem + 1.5853658537vw ,1.75rem);
      column-gap: clamp(.9375rem ,.6204268293rem + 1.5853658537vw ,1.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.6204268293rem + 1.5853658537vw ,1.75rem)) or (column-gap:clamp(0.9375rem ,0.6204268293rem + 1.5853658537vw ,1.75rem))) {
    .feature .block-feature {
      -webkit-column-gap: calc(.9375rem + .8125 * (100vw - 20rem)/ 51.25);
      -moz-column-gap: calc(.9375rem + .8125 * (100vw - 20rem)/ 51.25);
      column-gap: calc(.9375rem + .8125 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-1.7835365854rem + 18.2926829268vw ,11.25rem)) {
    .media {
      padding-top: clamp(1.875rem ,-1.7835365854rem + 18.2926829268vw ,11.25rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-1.7835365854rem + 18.2926829268vw ,11.25rem)) {
    .media {
      padding-top: calc(1.875rem + 9.375 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.1432926829rem + 3.6585365854vw ,3.75rem)) {
    .media {
      padding-bottom: clamp(1.875rem ,1.1432926829rem + 3.6585365854vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.1432926829rem + 3.6585365854vw ,3.75rem)) {
    .media {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-0.3201219512rem + 10.9756097561vw ,7.5rem)) {
    .media--left {
      padding-top: clamp(1.875rem ,-.3201219512rem + 10.9756097561vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-0.3201219512rem + 10.9756097561vw ,7.5rem)) {
    .media--left {
      padding-top: calc(1.875rem + 5.625 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.1432926829rem + 3.6585365854vw ,3.75rem)) {
    .media--left {
      padding-bottom: clamp(1.875rem ,1.1432926829rem + 3.6585365854vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.1432926829rem + 3.6585365854vw ,3.75rem)) {
    .media--left {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.5243902439rem + 4.8780487805vw ,5rem)) {
    .banner__container {
      padding-top: clamp(2.5rem ,1.5243902439rem + 4.8780487805vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.5243902439rem + 4.8780487805vw ,5rem)) {
    .banner__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem)/ 51.25)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.5243902439rem + 4.8780487805vw ,5rem)) {
    .banner__container {
      padding-bottom: clamp(2.5rem ,1.5243902439rem + 4.8780487805vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.5243902439rem + 4.8780487805vw ,5rem)) {
    .banner__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 51.25)
    }
  }
}
@media (min-width:20em) and (max-width:48em) {
  @supports (font-size:clamp(1rem ,0.6428571429rem + 1.7857142857vw ,1.5rem)) {
    .text--fz-24 {
      font-size: clamp(1rem ,.6428571429rem + 1.7857142857vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6428571429rem + 1.7857142857vw ,1.5rem)) {
    .text--fz-24 {
      font-size: calc(1rem + .5 * (100vw - 20rem)/ 28)
    }
  }
}
@media (min-width:20em) and (max-width:30em) {
  @supports (font-size:clamp(1.625rem ,1.125rem + 2.5vw ,1.875rem)) {
    .action-social a::before {
      font-size: clamp(1.625rem ,1.125rem + 2.5vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.125rem + 2.5vw ,1.875rem)) {
    .action-social a::before {
      font-size: calc(1.625rem + .25 * (100vw - 20rem)/ 10)
    }
  }
}
@media (min-width:47.99875em) and (max-width:71.25em) {
  @supports (font-size:clamp(1.75rem ,1.2339121553rem + 1.0752110102vw ,2rem)) {
    .feature__title {
      font-size: clamp(1.75rem ,1.2339121553rem + 1.0752110102vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.2339121553rem + 1.0752110102vw ,2rem)) {
    .feature__title {
      font-size: calc(1.75rem + .25 * (100vw - 47.99875rem)/ 23.25125)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.2339121553rem + 1.0752110102vw ,2rem)) {
    .feature .block-feature__label {
      font-size: clamp(1.75rem ,1.2339121553rem + 1.0752110102vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.2339121553rem + 1.0752110102vw ,2rem)) {
    .feature .block-feature__label {
      font-size: calc(1.75rem + .25 * (100vw - 47.99875rem)/ 23.25125)
    }
  }
}
@media (min-width:48em) and (max-width:71.25em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem)) or (column-gap:clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem))) {
    .media__container {
      -webkit-column-gap: clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem);
      -moz-column-gap: clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem);
      column-gap: clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem)) or (column-gap:clamp(1.25rem ,-12.0403225806rem + 27.688172043vw ,7.6875rem))) {
    .media__container {
      -webkit-column-gap: calc(1.25rem + 6.4375 * (100vw - 48rem)/ 23.25);
      -moz-column-gap: calc(1.25rem + 6.4375 * (100vw - 48rem)/ 23.25);
      column-gap: calc(1.25rem + 6.4375 * (100vw - 48rem)/ 23.25)
    }
  }
}
@media (any-hover:hover) {
  .button:hover::before {
    -webkit-transform: translateX(.3125rem);
    transform: translateX(.3125rem)
  }
  .action-social a:hover::before {
    color: #e82e2c
  }
}
.webp .header {
  background: url(../img/hero/bg.webp) center center/cover no-repeat
}
.webp .banner {
  background: url(../img/media-section/media-3-bg.webp) center/cover no-repeat
}